
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #aa6868;
    color: white;
    position: relative;
    max-width: 1200px; 
    margin: 0 auto; 
}


.logo img {
    height: 50px;
}


.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    flex: 1; 
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.menu-toggle {
    display: none;
}


.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f00a0a;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
    }

    .nav-links li {
        margin: 1rem 0;
    }

    .menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}